# Maven / Java
target/
*.jar
*.class
.DS_Store
*.log

# Targets específicos
/Microkernel-piedaAzul-common/target/
/plugins piedraAzul/report-json-plugin/target/
/plugins piedraAzul/report-html-plugin/target/

# Base de datos SQLite
*.db